.all-card-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: #f8f8f8;
}



.card-container{
    width: 400px;
    height: 400px;
    overflow: hidden;
    box-shadow: 0px 0px 15px -5px;
    background-color: red;
    margin:10%;
    
}

.card-container:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 15px -5px;
}

.benafits-list, .product-price, .product-title{
    margin: 10%;
}