.all-card-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: #f8f8f8;
    padding: 20rem 2rem 10rem 2rem;
}



.card-container{
    width: 22em;
    height: 40em;
    overflow: hidden;
    background-color: #713082;
    margin:10%;
    box-shadow: 20px 20px rgba(0,0,0,.15);
    border-radius: 5%;
    color:#F3FF4D;
}

.card-container:hover{
    transform: scale(1.1);
    box-shadow: 20px 20px rgba(0,0,0,.15);
}

.benefits-list, .product-price, .product-title{
    margin: 10%;
}

.product-title{
    font-size: 135%;
    
}

.product-price{
    font-size: 120%;
    
}

.benefits-list{
    font-size: 110%;
    line-height: 175%;
    
}

.benefit-title{
    font-size: 120%;
    
}

.benefit-list{
    font-size: 95%;
    font-weight: 600;
}


@media screen and (max-width:1700px) {
    .all-card-container {
        grid-template-columns: 1fr;
    }


}